nav {
  text-align: right;
}

nav h1 {
  float: left;
}

nav a {
  color: #555;
  text-decoration: none;
}

.modal {
  background-color: white;
  border: 1px solid #666;
  border-radius: 4px;

  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.modal header {
  background: -webkit-linear-gradient(top, #DDD, #FFF);
  background: -moz-linear-gradient(top, #DDD, #FFF);
  background: -o-linear-gradient(top, #DDD, #FFF);
  background: -ms-linear-gradient(top, #DDD, #FFF);
  background: linear-gradient(top, #DDD, #FFF);
  background-color: #E0E0E0;
  border-bottom: 1px solid #666;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 200px;
  overflow: hidden;
}

.modal header img {
  width: 600px;
  margin: 0;
}

.ribbon {
  background: -webkit-linear-gradient(top, #E64F55, #AB2F34);
  background: -moz-linear-gradient(top, #E64F55, #AB2F34);
  background: -o-linear-gradient(top, #E64F55, #AB2F34);
  background: -ms-linear-gradient(top, #E64F55, #AB2F34);
  background: linear-gradient(top, #E64F55, #AB2F34);
  background-color: #AB2F34;
  border-bottom: 1px solid #570C0F;

  -webkit-box-shadow: inset 0 1px 0 #FF6B70, 0 -1px 0 #570C0F;
  box-shadow: inset 0 1px 0 #FF6B70, 0 -1px 0 #570C0F;
  color: #EBB5AF;
  padding: 10px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
}

form {
  padding: 20px;
}

.studentGroup {
  display: inline-block;
  padding: 20px;
  vertical-align: text-top;
}

#cmuStudents {
  background-color: #FFEAEB;

  -webkit-box-shadow: 0 -1px 0 #C53C42;
  box-shadow: 0 -1px 0 #C53C42;
}

.bigButton {
  background: -webkit-linear-gradient(top, #FFF, #DDD);
  background: -moz-linear-gradient(top, #FFF, #DDD);
  background: -o-linear-gradient(top, #FFF, #DDD);
  background: -ms-linear-gradient(top, #FFF, #DDD);
  background: linear-gradient(top, #FFF, #DDD);
  background-color: #EEE;
  border: 1px solid #C53B42;
  border-radius: 6px;

  -webkit-box-shadow: inset 0 -3px 0 rgba(0,0,0,0.1), inset 0 -3px 3px rgba(0,0,0,0.1), inset 0 5px 5px #FFF;
  box-shadow: inset 0 -3px 0 rgba(0,0,0,0.1), inset 0 -3px 3px rgba(0,0,0,0.1), inset 0 5px 5px #FFF;
  cursor: pointer;
  display: inline-block;
  height: 80px;
  margin: 0;
  padding: 25px 5px;
  padding-left: 32px;
  position: relative;
  text-align: left;
  vertical-align: text-top;
  width: 150px;
  -webkit-touch-callout: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bigButton.inactive,.bigButton.inactive:hover,.bigButton.inactive:active {
  cursor: auto;
  background-color: white;

  background: -webkit-linear-gradient(top, #EEE, #FFF);
  background: -moz-linear-gradient(top, #EEE, #FFF);
  background: -o-linear-gradient(top, #EEE, #FFF);
  background: -ms-linear-gradient(top, #EEE, #FFF);
  background: linear-gradient(top, #EEE, #FFF);
  border: 1px solid #AAA;

  -webkit-box-shadow: inset 0 1px 0 #CCC;
  box-shadow: inset 0 1px 0 #CCC;
  padding: 25px 20px;
}

.bigButton.inactive img {
  display: none;
}

.bigButton.inactive .title {
  color: #888;
}

.bigButton.inactive .opens {
  color: #AA7616;
}

.bigButton:hover {
  background: -webkit-linear-gradient(top, #FFF, #F6D6D7);
  background: -moz-linear-gradient(top, #FFF, #F6D6D7);
  background: -o-linear-gradient(top, #FFF, #F6D6D7);
  background: -ms-linear-gradient(top, #FFF, #F6D6D7);
  background: linear-gradient(top, #FFF, #F6D6D7);
  background-color: #FFF;

  -webkit-box-shadow: inset 0 -3px 0 rgba(0,0,0,0.1), inset 0 -2px 2px rgba(0,0,0,0.1), inset 0 20px 15px #FFF;
  box-shadow: inset 0 -3px 0 rgba(0,0,0,0.1), inset 0 -2px 2px rgba(0,0,0,0.1), inset 0 20px 15px #FFF;
}

.bigButton:active,.bigButton.selected {
  background: -webkit-linear-gradient(top, #C69093, #F6D6D7);
  background: -moz-linear-gradient(top, #C69093, #F6D6D7);
  background: -o-linear-gradient(top, #C69093, #F6D6D7);
  background: -ms-linear-gradient(top, #C69093, #F6D6D7);
  background: linear-gradient(top, #C69093, #F6D6D7);
  background-color: #FFF;

  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.4), inset 0 3px 5px rgba(0,0,0,0.2);
  box-shadow: inset 0 0 4px rgba(0,0,0,0.4), inset 0 3px 5px rgba(0,0,0,0.2);
}

.bigButton img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 160px;
  height: 90px;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 150px;
  height: 80px;
  top: -1px;
  left: -1px;
}

.bigButton .title {
  font-size: 13px;
  line-height: 13px;
  font-weight: bold;
  color: #9F0A1B;
}

.bigButton .remaining,.bigButton .opens {
  display: none;
  color: #702F34;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.bigButton .remaining {
  display: block;
}

.bigButton.inactive .remaining {
  display: none;
}

.bigButton.inactive .opens {
  display: block;
}

#cmuStudents .bigButton:first-child {
  margin-right: 20px;
}

.prompt {
  background-color: #FFF;
  border-top: 1px solid #C53B42;

  -webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,0.3);
  box-shadow: inset 0 2px 3px rgba(0,0,0,0.3);
  padding: 20px;
  min-height: 150px;
}

.steps {
  padding: 20px 0;
}

.step:first-child {
  width: 320px;
  padding-left: 10px;
  padding-right: 30px;
  border: none;
}

.step {
  display: inline-block;
  vertical-align: text-top;
  border-left: 1px solid #DDD;
  padding: 0 10px;
  padding-left: 30px;
  padding-bottom: 0;
  width: 220px;
  min-height: 180px;
}

.step span {
  display: inline-block;
  color: #951A20;
  color: #894D0F;
  padding-top: 10px;
  line-height: 18px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

footer {
  font-size: 12px;
  color: #555;
}

footer h2 {
  font-size: 18px;
  padding: 10px 0 20px 0;
}

.checklist {
  background-color: #FCF5E9;
  border: 1px solid #BBB;

  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 20px 30px;
}

.checklist ul {
  list-style-type: none;
  padding: 0;
}

.checklist li {
  font-size: 12px;
  padding: 5px 0;
  border-top: 1px solid rgba(0,0,0,0.1);
}

.checklist li strong {
  font-weight: normal;
  background-color: #FDEAB0;
  color: black;
  padding: 2px;
}

.message {
  background-color: #FDF1C7;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  margin-bottom: 15px;
}

input[type="text"],input[type="email"] {
  display: block;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-family: HelveticaNeue, 'Helvetica Neue', HelveticaNeueRoman, HelveticaNeue-Roman, 'Helvetica Neue Roman', Helvetica, Tahoma, Geneva, Arial, sans-serif;
  font-size: 18px;
  font-weight: 200;
  font-weight: normal;
  border: 1px solid #BBB;
  border-radius: 5px;

  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.2);
  padding: 8px 10px;
  width: 100%;
  outline: none;
  color: #261C08;
}

input[data-invalid="true"]:focus,input[type="text"]:focus,input[type="email"]:focus {
  background-color: white;
  border-color: #FFAD20;

  -webkit-box-shadow: inset 0 0 5px #FFD942, 0 0 5px #FFDC7A;
  box-shadow: inset 0 0 5px #FFD942, 0 0 5px #FFDC7A;
  color: #2A1E05;
  border-color: #0052AA;
  border-color: #FF7820;
  color: #483309;
  text-shadow: 0 2px #FFE5B0;
}

input[data-invalid="true"] {
  border: 1px solid #C9353D;

  -webkit-box-shadow: inset 0 2px 3px #DDD;
  box-shadow: inset 0 2px 3px #DDD;
  color: #DD1C0D;
}

input[data-invalid="false"],input[data-invalid="false"]:focus {
  background-color: #EEE;
  border: 1px solid #AAA;

  -webkit-box-shadow: inset 0 2px 3px #DDD;
  box-shadow: inset 0 2px 3px #DDD;
  color: #777;
  text-shadow: 0 2px white;
  font-weight: bold;
}

.btnContainer {
  padding-top: 15px;
  text-align: right;
}

.btn {
  cursor: pointer;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 150px;
  padding: 8px 20px;
  font-size: 18px;
  text-align: center;
  background-color: #F0983F;

  background: -webkit-linear-gradient(top, #F1AF4B, #F0983F, #E0712F);
  background: -moz-linear-gradient(top, #F1AF4B, #F0983F, #E0712F);
  background: -o-linear-gradient(top, #F1AF4B, #F0983F, #E0712F);
  background: -ms-linear-gradient(top, #F1AF4B, #F0983F, #E0712F);
  background: linear-gradient(top, #F1AF4B, #F0983F, #E0712F);
  border: 1px solid #A85220;
  border-radius: 5px;

  -webkit-box-shadow: inset 0 1px 0 #F7D56D, inset 0 21px 0 rgba(255, 219, 121, 0.15), 0 2px 3px rgba(0,0,0,0.3);
  box-shadow: inset 0 1px 0 #F7D56D, inset 0 21px 0 rgba(255, 219, 121, 0.15), 0 2px 3px rgba(0,0,0,0.3);
  color: white;
  font-weight: bold;
  text-shadow: 0 1px #000;
}

.btn:hover {
  background: -webkit-linear-gradient(top, #ECAA27, #F0983F, #E0712F);
  background: -moz-linear-gradient(top, #ECAA27, #F0983F, #E0712F);
  background: -o-linear-gradient(top, #ECAA27, #F0983F, #E0712F);
  background: -ms-linear-gradient(top, #ECAA27, #F0983F, #E0712F);
  background: linear-gradient(top, #ECAA27, #F0983F, #E0712F);

  -webkit-box-shadow: inset 0 1px 0 #EDE1A8, inset 0 21px 0 rgba(255, 219, 121, 0.1), 0 2px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0 1px 0 #EDE1A8, inset 0 21px 0 rgba(255, 219, 121, 0.1), 0 2px 3px rgba(0,0,0,0.5);
}

.btn:active,.btn.depressed {
  background-color: #DDD;

  background: -webkit-linear-gradient(top, #CCC, #EEE);
  background: -moz-linear-gradient(top, #CCC, #EEE);
  background: -o-linear-gradient(top, #CCC, #EEE);
  background: -ms-linear-gradient(top, #CCC, #EEE);
  background: linear-gradient(top, #CCC, #EEE);
  border: 1px solid #444;

  -webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,0.4);
  box-shadow: inset 0 2px 3px rgba(0,0,0,0.4);
  color: #222;
  text-shadow: 0 1px white;
}

.btn.inactive,.btn.inactive:hover,.btn.inactive:active {
  background-color: #FFF;

  background: -webkit-linear-gradient(top, #EEE, #FFF);
  background: -moz-linear-gradient(top, #EEE, #FFF);
  background: -o-linear-gradient(top, #EEE, #FFF);
  background: -ms-linear-gradient(top, #EEE, #FFF);
  background: linear-gradient(top, #EEE, #FFF);
  border: 1px solid #BBB;

  -webkit-box-shadow: none;
  box-shadow: none;
  color: #BBB;
  font-weight: normal;
  text-shadow: none;
}

.prereg {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  margin-bottom: 10px;
  min-height: 70px;
  padding-left: 60px;
}

.prereg img {
  height: 55px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
  filter: alpha(opacity=65);
  opacity: 0.65;
  position: absolute;
  top: 0;
  left: -5px;
}

#success,#waitlist {
  padding: 0 50px 50px 50px;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
}
